footer {
	font: 14px/24px 'montserrat-regular', sans-serif;
	background: #0f0f0f;
   padding-top: 24px;
   padding-bottom: 24px;
   color: #303030;      
}
footer a, footer a:visited { color: #525252; }
footer a:hover, footer a:focus { color: #fff; }

/* copyright */
footer .copyright {
    margin: 0;
    padding: 0;
    text-align: center;
 }
footer .copyright li {
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 24px;
}
.ie footer .copyright li {
   display: inline;
}
footer .copyright li:before {
    content: "\2022";
    padding-left: 6px;
    padding-right: 10px;
    color: #1B6728;
}
footer .copyright  li:first-child:before {
    display: none;
}

/* Go To Top Button */
#go-top {
	position: fixed;
	bottom: 30px;
   right: 30px;  
   text-align: center; 
   display: none;
}
#go-top a {
	text-decoration: none;
	border: 0 none;
	display: block;
	width: 48px;
	height: 48px;
	background-color: #303030;

	-webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;

   color: #fff;
   font-size: 16px;
   line-height: 48px;
 	border-radius: 3px;
}
#go-top a:hover { background: #165622; }
#middle {
   
   color: #fff; 
   padding-top: 96px;
   padding-bottom: 72px;     
   overflow: hidden; 
background: #161415 url(../img/bg1.jpg) no-repeat center center;
   background-size: cover !important;
	-webkit-background-size: cover !important;   
	   
}
